* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* Add flex to body to get full screen */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Style the header */
header {
  background-color: #e6e4de;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  color: #000;
  height: 50%;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  height: 100%;
  background-color: #e6e4de;
  padding: 20px;
  justify-content: flex-start;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #e6e4de;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #e6e4de;
}

div {
  margin: 0;
  width: 1000px;
}

/* Style the footer */
footer {
  background-color: #e6e4de;
  padding: 20px;
  text-align: center;
  color: #000;
  height: 100%;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
